<!DOCTYPE html>
<html lang="en">

	<head>
		<%-include('../components/head')%>
		<link rel="stylesheet" href="/public/style/edit_user.css" />
		<title>Breddit | Edit Profile</title>
	</head>

	<body>
		<%-include('../components/navbar')%>

		<form action="#" method="post" class="edit_form" id="edit_form">
			<h1>Edit Profile</h1>
			<% if(reqUser.privilege !== "admin") { %>
			<%- include('../components/input', {name: "old_pw", type: "password", label: "Old Password", autocomplete: "current-password"}) %>
			<%} %>

			<%- include('../components/input', {name: "new_pw", type: "password", label: "New Password", autocomplete: "new-password"}) %>
			<%- include('../components/input', {name: "new_pw_again", type: "password", label: "Re-Enter new Password", autocomplete: "new-password"}) %>
			<% if(locals.error) { %>
			<p class="error"><%= locals.error %></p>
			<%} %>
			<input type="submit" value="Change Password" />
		</form>
	</body>
	<script src="/public/javascript/update_password.js"></script>

</html>